<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet href="chrome://global/skin/" type="text/css"?>
<?xml-stylesheet type="text/css" href="chrome://messenger/skin/messenger.css"?>
<!-- for the display -->
<?xml-stylesheet type="text/css" href="chrome://messenger/skin/themeableDialog.css"?>

<window xmlns="http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"
	onload="wdw_cardbookAskUser.load();" resizable="true"
	onclose="wdw_cardbookAskUser.cancel();"
	id="wdw_cardbookAskUser"
	persist="screenX screenY width height"
	lightweightthemes="true"
	style="min-width:200px;min-height:100px;">
	
	<script type="application/x-javascript" src="chrome://cardbook/content/wdw_cardbookAskUser.js"/>

	<keyset id="wdw_cardbookAskUser-keys">
		<key keycode="VK_ESCAPE" oncommand="wdw_cardbookAskUser.cancel();"/>
	</keyset>

	<hbox flex="1" align="center">
		<vbox flex="1" align="center">
			<label id="messageLabel" flex="1"/>
		</vbox>
	</hbox>

	<vbox flex="1" align="center">
		<hbox flex="1" align="center">
			<button id="askUserButton1" oncommand="wdw_cardbookAskUser.fireButton(this);"/>
			<button id="askUserButton2" oncommand="wdw_cardbookAskUser.fireButton(this);"/>
			<button id="askUserButton3" oncommand="wdw_cardbookAskUser.fireButton(this);"/>
			<button id="askUserButton4" oncommand="wdw_cardbookAskUser.fireButton(this);"/>
		</hbox>
	</vbox>

	<hbox flex="1" align="center">
		<vbox flex="1" align="center">
			<checkbox id="confirmCheckBox" flex="1"/>
		</vbox>
	</hbox>
</window>
