<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet href="chrome://global/skin/" type="text/css"?>
<?xml-stylesheet type="text/css" href="chrome://messenger/skin/messenger.css"?>
<!-- for the display -->
<?xml-stylesheet type="text/css" href="chrome://messenger/skin/themeableDialog.css"?>

<window xmlns="http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"
	xmlns:html="http://www.w3.org/1999/xhtml"
	id="wdw_birthdaySync"
	persist="width height screenX screenY sizemode"
	onload="wdw_birthdaySync.syncAllBirthdays();" resizable="true"
	onclose="wdw_birthdaySync.do_close();"
	lightweightthemes="true"
	style="min-width:400px;min-height:300px">
	
	<script type="application/x-javascript" src="chrome://cardbook/content/birthdays/cardbookBirthdaysUtils.js"/>
	<script type="application/x-javascript" src="chrome://cardbook/content/birthdays/wdw_birthdaySync.js"/>
	<script type="application/x-javascript" src="chrome://cardbook/content/scripts/i18n.js"/>

	<keyset id="wdw_birthdaySync-keys">
		<key keycode="VK_ESCAPE" oncommand="wdw_birthdaySync.do_close();" />
	</keyset>

	<tree id="syncListTree" flex="1" enableColumnDrag="true" class="cardbookTreeClass">
		<treecols>
			<treecol id="addressbook" label="__MSG_calendarNameLabel__" flex="1" persist="width ordinal hidden" style="text-align:left" closemenu="none"/>
			<splitter class="tree-splitter" />
			<treecol id="existing" label="__MSG_existingLabel__" flex="2" persist="width ordinal hidden" style="text-align:right" closemenu="none"/>
			<splitter class="tree-splitter" />
			<treecol id="failed" label="__MSG_failedLabel__" flex="1" persist="width ordinal hidden" style="text-align:right" closemenu="none"/>
			<splitter class="tree-splitter" />
			<treecol id="succeeded" label="__MSG_succeededLabel__" flex="1" persist="width ordinal hidden" style="text-align:right" closemenu="none"/>
			<splitter class="tree-splitter" />
			<treecol id="id" label="__MSG_calendarIdLabel__" flex="1" persist="width ordinal hidden" style="text-align:right" hidden="true" closemenu="none"/>
		</treecols>
		<treechildren/>
	</tree>

	<hbox>
		<spacer flex="1"/>
		<button label="__MSG_closeEditionLabel__" accesskey="__MSG_closeEditionAccesskey__" oncommand="wdw_birthdaySync.do_close();"/>
	</hbox>
</window>
