<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet href="chrome://global/skin/" type="text/css"?>
<?xml-stylesheet type="text/css" href="chrome://messenger/skin/messenger.css"?>
<!-- for the display -->
<?xml-stylesheet type="text/css" href="chrome://messenger/skin/themeableDialog.css"?>

<window xmlns="http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"
	id="wdw_newToken"
	persist="screenX screenY width height"
	title=""
	width="800"
	height="500"
	orient="vertical"
	lightweightthemes="true"
	onload="wdw_newToken.load();"
	onclose="wdw_newToken.closeKO();">

	<script type="application/x-javascript" src="wdw_newToken.js"/>
	
	<vbox id="header">
		<description id="warnDescription"/>
		<description id="applicationName"/>
		<description id="clientID"/>
		<description id="scopeURL"/>
	</vbox>
	<browser id="browser" src="" flex="1" type="content"/>
</window>
