#cardbookMenuItem {
	list-style-image: url("chrome://cardbook/content/skin/cardbook_16_16.png");
}

#cardbookComposeToolbarButton {
	list-style-image: url("chrome://cardbook/content/skin/cardbook_24_24.svg");
}
